{% extends 'car_dealer/base.html' %}
{% block content %}

<h3 class="w3-center" style="padding-top:30"><b>History</b></h3>
<div style="padding:18">
<table class="w3-table w3-striped w3-center">
 
  <tr>
    <th>Name </th>
    <th>Rent </th>
    <th>Days </th>
    <th>Seat</th>
    <th>
    </th>
  </tr>
  {% for order in order_list %}
  <tr>
    <td>{{order.vehicle.car_name}}</td>
    <td>ksh{{order.rent}}</td>
    <td>{{order.days}}</td>
    <td>{{order.vehicle.capacity}}</td>
    <td>
      <form action = "/car_dealer_portal/complete/" method="post">
        {% csrf_token %}
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
</div>

{% endblock %}
