{% extends 'car_dealer/base.html' %}
{% block content %}
<div class="w3-display-container"  style="height:1000px;">
<div class="w3-display-middle">

  <b> <h2>Registration Form</h2></b>
{% for message in messages %}
{% if message %}
<script>
  alert("{{message}}")
</script>
{% endif %}
{% endfor %}
<form class="w3-container" action="/car_dealer_portal/registration/" method="POST">{% csrf_token %}
  <label>First Name</label> <input class="w3-input" type="text" name="firstname"><br>
  <label>Last Name</label> <input class="w3-input" type="text" name="lastname"><br>
  <label>Username</label> <input class="w3-input" type="text" name="username"><br>
  <label>Password</label> <input class="w3-input" type="password" name="password"><br>
  <label>Email</label> <input class="w3-input" type="text" name="email"><br>
  <label>Contact</label> <input class="w3-input" type="text" name="mobile"><br>
  <label>City</label> <input class="w3-input" type="text" name="city"><br>
  <label>Pincode</label> <input class="w3-input" type="text" name="pincode"><br>
  <input class="w3-btn w3-teal" type="submit"><br>
</form><br>
</div>
</div>

{% endblock %}
